
<div class="container mt-4">

    <h1>New Post</h1>
    <% if @blog.errors.any?  %>
       <h2>Following errors are prevented the blog from being saved</h2>
        <ul>
            <% @blog.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <%= render "form" %>

    <%= link_to "Back to Blog", blogs_path %>
</div>

