



<div class="container mt-4">
    <h1>Showing the Blog Detail</h1>
    <p><strong>Title: </strong> <%= @blog.title  %></p>
    <p><strong>Description: </strong> <%= @blog.description  %></p>
    <hr />
    <%= link_to "back to home", blogs_path, class: "btn btn-sm btn-info" %> | <%= link_to "Edit", edit_blog_path, class: "btn btn-sm btn-success" %>

</div>
