<div class="container">
    <div class="box">
       <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum expedita voluptate veritatis tempora saepe dolores, corporis incidunt laboriosam voluptatibus? Animi reprehenderit quod doloremque. Maxime sunt dignissimos totam. Dolorem, unde ut.</p>
       <a href="" class="btn btn-info">More info</a>
    </div>
</div>
